body{
    background-image: url(../img/Img\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.formulario{
    background: rgba(0,0,0,.5) ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0,0,0,0.568) ;
    color: white;

}

.ingresar{
    background: #222a3f;
    padding:10px ;
    font-size: 16px;
    font-weight: 700!important;
    color: white;
    box-shadow: 0 0 30px rgba(0,0,0,0.568) ;
}

.ingresar:hover{
    color: white;
}